<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img src="/img/title.png" alt="title">
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h2>Add a Burger You Want to Eat!</h2>
    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content center">
      <form class="col-12 d-flex justify-content-center create-form">

        <div class="d-flex justify-content-center form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name"></input>


          <button type="submit">Add Burger</button>
        </div>
      </form>
    </div>
  </div>


  <div class="row">

    <div class="col-4">

      <h2 class="head">Burgers ready to DEVOUR!</h2>

      <div>
        {{#each burgers}}
        {{#unless devoured}}
        <p class="list">
          <img src="/img/icon.png" height="25px" width="auto"> {{this.burger_name}}
          <button data-id="{{this.id}}" class="devour-it">Devour It!</button>
        </p>
        {{/unless}}
        {{/each}}
      </div>

    </div>

    <div class="col-4 d-flex justify-content-center">
      <img src="/img/fave.png" id="burg">

    </div>
    <div class="col-4">
      <h2 class="head">Burgers that are DEVOURED!</h2>

      <div>
        {{#each burgers}}
        {{#if devoured}}
        <p class="list2">
          <img src="/img/plate.png" height="25px" width="auto"> {{this.burger_name}}<br>
          <img src="/img/mmm.gif"height="25px" width="auto"> <strong>CRUSHED IT! <img src="/img/cool.gif" height="25px" width="auto"> <br>
          <img src="/img/burp.gif" height="25px" width="auto">  BURRRRRRRP!</strong> <img src="/img/happy.gif" height="25px" width="auto">
        </p>
        {{/if}}
        {{/each}}
      </div>

    </div>

  </div>

</div>

<script>
  // Make sure we wait to attach our handlers until the DOM is fully loaded.
  $(function () {
    $(".create-form").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      var newBurger = {
        name: $("#ca").val().trim(),
        devoured: 0
      };

      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("Created New Burger!");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $(".devour-it").on("click", function (event) {
      let id = $(this).data("id");
      console.log("To Devour:", id)
      let newDevour = 1;

      let newDevourState = {
        devoured: newDevour
      };
      console.log("NDS:", newDevourState);

      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "put",
        data: newDevourState
      }).then(
        function () {
          console.log("Changed DEVOUR to", newDevour);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  });
</script>